.linha {
  display: flex;
  justify-content: space-between;
	padding: 10px 10px;
	border: 5px solid rgb(197, 197, 1);
	position: relative;
}

.linhaInputs {
	width: 300px;
	padding: 5px;
}

.linhaSelect {
	padding: 5px;
	width: 80px;
}

.checkbox {
	width: 30px;
	height: 30px;
}

.excluir {
	padding: 5px 10px;
}

.editar {
	width: 25px;
	height: 25px;
	padding: 0;
	background-color: unset;
	border: none;
	cursor: pointer;
	margin: auto 0;
	position: absolute;
	right: -50px;
}

.editar img {
	width: 100%;
	height: 100%;
}

.concluido {
	border: 5px solid rgb(45, 228, 45);
}

.linhaMob label, .linhaMobC label, .linhaMobE label {
	display: none;
}

.linhaMobC, .linhaMobE {

}

@media (max-width: 767px) {
	.editar {
		right: -45px;
	}
}

@media (max-width: 630px) {
	.linhaInputs {
		width: 200px;
	}
}

@media (max-width: 480px) {
	.editar {
		right: 10px;
		top: 5px;
	}

	.linhaMob label, .linhaMobC label, .linhaMobE label {
		display: flex;
		font-size: 18px;
		margin-bottom: 5px;
	}

	.linhaMobC , .linhaMobE {
		display: flex;
		gap: 30px;
		align-items: center;
	}

	.linha {
		flex-direction: column;
		gap: 10px;
	}

	.linhaInputs, .linhaSelect {
		width: 100%;
	}
	
	.checkbox {
		width: 30px;
		height: 30px;
	}

	.excluir {
		width: 30px;
	}
}